$background-color_1: #ffffff;
$background-color_2: #9c9393;

.header_part {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.mid_part {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.icon {
	img {
		border-radius: 50%;
	}
}
.order_wrapper {
	padding: 20px;
	min-width: 310px;
	border-radius: 20px;
	background-color: $background-color_1;
}
.container {
	width: 100%;
}
.wrapper {
	background-color: $background-color_2;
	display: flex;
	justify-content: space-around;
}
